<section class="servicesHome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="servicesHome-box">



                    <h2>Message From From Principal's desk</h2>
                    <h5>Dr. Maulik Pandya
                        <br>
                        <span>- Principal,</span>
                    </h5>
                    <p>What is education? Children's minds and bodies are being developed healthily. I think that
                        computers are smart tools for rapid development, and I firmly believe this. The benefits will be
                        discussed.</p>
                    <!-- <a href="VCMsg.aspx?id=10037" class="btn btn-sm btn-outline-white mb-0">Read More</a> -->

                </div>
            </div>

            <div class="col-md-4">
                <div class="video-section">
                    <div class="video-content">
                        <img src="assets/images/vc.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="servicesHome-box">
                    <!-- <h2>VC Auction for Gift/ Mementos</h2> -->
                    <p>Thanks to computers and the internet, you have access to all kinds of information. In other
                        words, the entire world is just a click away, and it's easy to access any information, idea, or
                        thought. You are aware that education is now more advanced than it was with just books thanks to
                        computers. Remember the bygone era when you had to flip through entire books to find the
                        smallest of details? Currently, you can increase your knowledge by giving computers a few
                        keywords. The computer is a repository for all available data on everything in one place.
                    </p>
                    <!--<a href="http://vcgift.gtu.ac.in/" target="_blank" class="btn btn-sm btn-outline-white mb-0">Go to Portal</a>-->
                    <!-- <a href="http://www.test.gtu.ac.in/VC1/" target="_blank"
                        class="btn btn-sm btn-outline-white mb-0">Go to Portal</a> -->
                </div>
            </div>
        </div>
    </div>
</section>